n8n-Automation/001_Web_scraping_send_to_discord_automation/cybersecurity news discord.json
{
  "name": "cybersecurity news discord",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1024,
        -64
      ],
      "id": "30b7fbb2-2a0c-4bbd-bca3-0056df9f9fc8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -48,
        -64
      ],
      "id": "25321de2-b8cc-44a8-855d-c470b6c116c1",
      "name": "Discord",
      "webhookId": "b22ff53f-8f54-4803-a61b-e0fcfb5ee761",
      "credentials": {
        "discordWebhookApi": {
          "id": "s9YKDt6n5tZvJVQE",
          "name": "Discord Webhook account 3"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.bleepingcomputer.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -864,
        -64
      ],
      "id": "07c1e8f7-43b5-4f35-8741-5afeab26aa79",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -704,
        -64
      ],
      "id": "1d46d70a-ee87-457a-b244-528f1b7de086",
      "name": "Limit"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.2:latest",
          "mode": "list",
          "cachedResultName": "llama3.2:latest"
        },
        "messages": {
          "values": [
            {
              "content": "=Summarize this article in sentences. Focus on the main threat and who is affected, 3-5 sentences only.\n{{ $json.title }}{{ $json.contentSnippet }}{{ $json.link }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        -464,
        -64
      ],
      "id": "f51d168d-8016-4e37-913a-5b16b6f8d581",
      "name": "Message a model",
      "credentials": {
        "ollamaApi": {
          "id": "S6ncytHWdZMSvu9j",
          "name": "Ollama account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a7eff152-9052-4aca-989a-fbdda4b0ad45",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "984e18d6b3d66484fa7ba1d56509270c1da20a8e1a6fd207de390514f814f1ba"
  },
  "id": "YFuGiMIEysv0z3PO",
  "tags": []
}