n8n-Automation/002_Real-Estate_Lesson_Each_Day_Automation/Real Estate lesson everyday automated by ai that sends to discord.json
{
  "name": "Real Estate lesson everyday automated by ai that sends to discord",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.2:latest",
          "mode": "list",
          "cachedResultName": "llama3.2:latest"
        },
        "messages": {
          "values": [
            {
              "content": "What is one important real estate concept I should learn today, explained simply with an example?"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        -368,
        -64
      ],
      "id": "0b54e4ac-75a8-45f8-9b41-1398face56f2",
      "name": "Message a model",
      "credentials": {
        "ollamaApi": {
          "id": "S6ncytHWdZMSvu9j",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=Hey Kid, sup? here's what you should learn today.\n\n{{ $json.content }}\n\nKeep up the good work, im proud of you kid.",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        16,
        -64
      ],
      "id": "df8f43cc-f4eb-48a9-80ff-4aa0d2a825e6",
      "name": "Discord",
      "webhookId": "30913f50-38e1-46bd-b1dd-775faca952b3",
      "credentials": {
        "discordWebhookApi": {
          "id": "dtUJhs1NZTZbBXAK",
          "name": "Real estate"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -640,
        -64
      ],
      "id": "8980e24b-f90f-4a46-bda4-df1e2acf2d47",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Message a model": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2b726509-6ba1-4435-a913-2fa6939a413a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "984e18d6b3d66484fa7ba1d56509270c1da20a8e1a6fd207de390514f814f1ba"
  },
  "id": "gtxfxMUP0KcVuo1i",
  "tags": []
}